[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TPCselect"]
	path = TPCselect
	url = https://github.com/cran/TPCselect
	shallow = true
	registered = true
